<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
   <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>com.icss.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>GBK</param-value>
        </init-param>
   </filter>   
   <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
   </filter-mapping>
    
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MeetingPersonSvl</servlet-name>
    <servlet-class>com.icss.demo.control.MeetingPersonSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PersonAddSvl</servlet-name>
    <servlet-class>com.icss.demo.control.PersonAddSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PersonRemoveSvl</servlet-name>
    <servlet-class>com.icss.demo.control.PersonRemoveSvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PersonQuerySvl</servlet-name>
    <servlet-class>com.icss.demo.control.PersonQuerySvl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TurnPageSvl</servlet-name>
    <servlet-class>com.icss.demo.control.TurnPageSvl</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>MeetingPersonSvl</servlet-name>
    <url-pattern>/MeetingPersonSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonAddSvl</servlet-name>
    <url-pattern>/PersonAddSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonRemoveSvl</servlet-name>
    <url-pattern>/PersonRemoveSvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonQuerySvl</servlet-name>
    <url-pattern>/PersonQuerySvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TurnPageSvl</servlet-name>
    <url-pattern>/TurnPageSvl</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
